%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="/tmp/#{@video.large_url}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Rating: #{!!@video.average_rating ? @video.average_rating : "no ratings"}
        %p= @video.description
        .actions
          %a.btn.btn-primary(href="") Watch Now
          %a.btn.btn-default(href="") + My Queue


%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      - if @review.errors.any?
        %ul.alert.alert-danger
          - @review.errors.full_messages.each do |msg|
            %li= msg
      = form_for [@video, @review], class: "form-horizontal" do |f|
        %fieldset
          .form-group
            %label Rate this video
            .row
              .col-sm-3
                = f.select :rating, [["5 Stars", 5],["4 Stars", 4],["3 Stars", 3],["2 Stars", 2],["1 Stars", 1]],{}, { class: "form-control" }
          .form-group
            %label Write Review
            .row
              .col-sm-8
                = f.text_area :description, rows: 6, class: "form-control"
        %fieldset.form-group.actions.clearfix
          = f.submit "Submit", class: "btn"


%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      %header
        %h3 User Reviews (#{@video.reviews.size})
      %ul
        - @video.recent_reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                %p by #{review.user.full_name}
              .col-sm-8
                %p= review.description
