%section#top-header.row
  %h1.col-md-2
    = link_to "MyFLiX", root_path
  %ul.col-md-4.clearfix
    %li= link_to "Videos", categories_path
    %li= link_to "My Queue", queue_items_path
    %li= link_to "People", people_user_path(current_user)
  = form_tag search_videos_path, method: 'get', class: "col-md-5" do
    .form-group
      = text_field_tag 'search'
      %button.btn.btn-default(type="submit") Search
  #user_links.pull-right
    - if logged_in?
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            = current_user.full_name
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              = link_to "Profile", user_path(current_user)
              %a(href="#") Plan and Billing
              = link_to "Sign out", logout_path, method: 'delete'
    - else
      = link_to "Sign in", login_path
